.pixel-canvas{
    border: 1px solid black;
    margin: 10px;
}

.canvas-div{
    border: 2px solid black;
    width: auto;
    display: inline-block;
    background-color: gray;
    border-radius: 10px;
}

.whole-page-div{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* z-index: -100; */
    position: absolute;
    top: 0;
    right: 0;
}

.invalid-selection{
    background-color: gray;
}

body{
    background-color: rgb(204, 204, 255);
}
