.pixel-canvas {
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
  z-index: 20;
}

.canvas-div {
  border: 2px solid black;
  width: auto;
  height: auto;
  display: inline-block;
  /* background-color: gray; */
  border-radius: 10px;
  position: relative;
}

.canvas-tools-outer-div {
  border: 2px solid black;
  width: auto;
  height: auto;
  display: inline-block;
  /* background-color: gray; */
  border-radius: 10px;
}

#complete-canvas-wrapper * {
  user-select: none;
}

.canvas-div-background {
  width: 100%;
  height: 100%;
  background-color: gray;
  /* border-radius: 10px; */
  top: 0;
  position: absolute;
  z-index: -100;
}

.canvas-backdrop {
  position: absolute;
  top: 0;
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
  z-index: -1;
  box-sizing: border-box;
}

.canvas-grid {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
  z-index: 100;
  box-sizing: border-box;
  pointer-events: none;
}

#complete-canvas-wrapper {
  display: flex;
}

#complete-canvas-wrapper > * {
  margin: 5px;
}

.canvas-button {
  background: rgb(190, 190, 190);
  border: 1px solid black;
}

.canvas-button:focus {
  outline: 0;
}

.canvas-button:hover {
  cursor: pointer;
}

.canvas-input {
  width: 30px;
  text-align: center;
  border: 1px solid black;
}

.selected {
  background: rgb(105, 105, 105);
}

.collapse-header {
  display: flex;
  align-items: center;
  align-self: start;
}

.collapse-header h3 {
  font-size: 20px;
  margin-left: 5px;
}
.canvas-tools {
  width: 300px;
  background-color: gray;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
.canvas-tools h2 {
  font-size: 24px;
  margin: 10px;
  text-decoration: underline;
  font-weight: bold;
  justify-self: center;
  text-align: center;
}
.canvas-tools-container {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.canvas-tools-container-centered{
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30px;
  margin: 10px;
}

.canvas-tools-alpha {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.canvas-tools-custom.sketch-picker {
  border: 2px solid black;
  margin: 10px 0;
  border-radius: 5px;
}

.canvas-tools-circle {
  border: 2px solid black;
  margin: 10px 0;
  width: auto;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background: white;
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invalid-selection {
  background-color: gray;
}

.invalid-selection:hover{
    cursor: auto;
}

.deleting span div:hover{
  cursor: not-allowed !important;
}

button.deleting{
  border: 3px solid white;
}

.add-subtract-title{
  text-align: center;
}

.add-subtract{
  margin: 5px;
}

.title-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.title-text{
  font-size: 40px;
  text-align: center;
  border-radius: 15px;
  padding:3px;
  background-color: white;
  border: 1px solid black;
}

.title-text:focus {
  background-color: #ede6f2;
  outline: none;
}

#canvas-and-title-div{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.radio-list label{
  color: white;
}
