.user-icon-large{
    border: 1px solid black;
    height: 128px;
    width: 128px;
    border-radius: 32px;
    grid-row: 1 / 3;
    image-rendering: pixelated;
    background-color: #746d7523;
  }

  .profile-header{
      display: flex;
      margin: 10px;
      align-items: center;
  }

  .profile-header-title{
      font-size: 32px;
      font-weight: bold;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .profile-spacer{
      margin-top: 50px;
  }

  .profile-button-wrapper{
      display:flex;
      justify-content: center;
  }

  .profile-image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
