#competition-modal-body {
  border-radius: 8px;
  padding: 3px;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  box-sizing: border-box;
  width: 250px;
}

#competition-modal-body:focus {
  background-color: #ede6f2;
  outline: none;
}

#competition-modal-body::placeholder {
  border-radius: 10px;
  outline: none;
}

.competition-select {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  margin: 0;
  border-radius: 5px;
  display: inline-block;
  width: 250px;
}

#competition-body-label {
  display: block;
  text-decoration: underline;
  font-size: 26px;
  color: black;
  margin-bottom: 1px;
  margin-top: 5px;
}

.word-counter{
  text-align: right;
  padding: 8px;
  font-size: 16px;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.user-icon{
  border: 1px solid black;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  grid-row: 1 / 3;
  image-rendering: pixelated;
  background-color: #746d7523;
}

.list-box{
  border: 2px solid black;
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  background-color: #746d7523;
}

.list-box h1 {
  font-size:28px;
  border-bottom: 1px solid black;
}

.post-box {
  border-bottom: 1px solid black;
  padding: 10px 5px;
  overflow: auto;
}

.user-bar{
  display: flex;
}

.username {
  font-size: 15px;
  margin-left: 8px;
  align-self: flex-end;
}

.user-link{
  color: black;
  text-decoration: none;
  text-decoration: underline;
  transition: color .5s;
  /* transition: font-size .5s; */
}

.user-link:hover {
  color: #0077CC;
  /* font-size: 18px; */
}

.post-description {
  padding: 10px 0 0 20px;
  font-size: 24px;
}

.post-link {
  font-size: 22px;
  color: black;
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
}

.review-number {
  color: black;
  /* -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black; */
  font-size: 20px;
  align-self: center;
}

.post-ruleset-wrapper{
  padding: 10px 0 10px 20px;
}

.post-description-title{
  font-size: 20px;
  font-weight: bold;
}

.post-description-ruleset{
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 4px;
}

.highlight-div{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.highlight-div > *{
  width: 48%;
}

.center-content-wrapper{
  min-width: fit-content;
  overflow: auto;
}

.post-timedif{
  margin-top: 12px;
}
