.competition-404{
    margin: 10px;
    font-size: 32px;
}

.competition-content{
    background: #746d7523;;
    max-width: 80%;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.competition-content-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.range-text{
    margin-left: 5px;
    font-size: 16px;
}

.range-text-title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
}

.range-text-box{
    margin:10px;
}

.no-select{
    pointer-events: none;
}

.tool-change-item{
    font-size: 16px;

}

.tool-alterations-list{
    list-style: circle;
    list-style-type:disc;
    /* padding: 20px; */
    margin-left: 35px;
    margin-top: 10px;
}

.carousel-div{
    width: 402px;
    padding: 0px;
    margin: 30px;
    border-radius: 10px;
}

.carousel-div:focus{
    outline: none;
}

.carousel-image{
    image-rendering: pixelated;
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    /* padding: 10px' */
    /* border: 1px solid black; */
}

.carousel-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-image-title{
    font-size: 24px;
    text-align: center;
}

.competition-text{
    font-size: 16px;
}

.competition-rule-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.competition-palette-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}

.competition-title-large{
    font-size: 28px;
    font-weight: 600;
    margin: 10px;
}

.bolded-text{
    font-size: 18px;
    font-weight: 600;
    margin: 5px;
}
